TonglBin.Web/Connected Services/CommonServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TonglBin.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TonglBin.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
</xs:schema>