TonglBin.Web/Connected Services/CommonServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://192.168.1.109:8000/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://192.168.1.109:8000/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.1.109:8000/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://192.168.1.109:8000/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TonglBin.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_InserTest_InputMessage">
    <wsdl:part name="parameters" element="tns:InserTest" />
  </wsdl:message>
  <wsdl:message name="ICommonService_InserTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserTestResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommonService">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://192.168.1.109:8000/ICommonService/GetUsers" message="tns:ICommonService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://192.168.1.109:8000/ICommonService/GetUsersResponse" message="tns:ICommonService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserTest">
      <wsdl:input wsaw:Action="http://192.168.1.109:8000/ICommonService/InserTest" message="tns:ICommonService_InserTest_InputMessage" />
      <wsdl:output wsaw:Action="http://192.168.1.109:8000/ICommonService/InserTestResponse" message="tns:ICommonService_InserTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>